@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato:300,350,400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,300");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body {
    font-family: "Josefin Slab", Georgia, sans-serif;
    margin: 0;
}

.body-light {
    background: whitesmoke;
}

.body-dark {
    background: #1A202C;
    color: #E2E8F0;
}

.header {
    padding: 25px 25px 0px 20px;
    height: 10%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-light a{
    font-family: "Josefin Slab", Georgia, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    vertical-align: middle;
}

.name-dark a {
    font-family: "Josefin Slab", Georgia, sans-serif;
    text-decoration: none;
    color: #E2E8F0;
    font-size: 2.5rem;
    vertical-align: middle;
}

.header .headerIcons-div {
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    column-gap: 10px;
    font-size: 20px;
}

.header .pageLinks-light {
    padding: 7px 6px 2px 6px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header .pageLinks-light:hover {
    /* background: black;
    color: white; */
    transition: background .2s ease-in-out;
    border-bottom: 1.5px solid rgb(26, 26, 26);
}

.header .pageLinks-dark {
    padding: 7px 6px 2px 6px;
    color: #E2E8F0;
    font-weight: 300;
    text-decoration: none;
}

.header .pageLinks-dark:hover {
    transition: background .2s ease-in-out;
    border-bottom: 1.5px solid #E2E8F0;
}

.headerIcons-div .hamburger, .headerIcons-div .hamburger-dark {
    display: none;
}

.headerIcons-div .hamburger:hover {
    color: white;
    background: black;
    border-radius: 3px;
    padding: 5px;
}

.headerIcons-div .hamburger-dark:hover {
    color: #1A202C;
    background: #E2E8F0;
    border-radius: 3px;
    padding: 5px;
}

.headerIcons-div .socialIcons-light {
    position: "relative";
    color: black;
    size: "20px !important";
    margin-right: 4px;
    padding: 4px;
}

.headerIcons-div .socialIcons-light:hover {
    size: 30px;
    transition: color .2s ease-in-out;
    border-bottom: 1.5px solid rgb(26, 26, 26);
}

.headerIcons-div .socialIcons-dark {
    position: "relative";
    color: #E2E8F0;
    size: "20px !important";
    margin-right: 4px;
    padding: 4px;
}

.headerIcons-div .socialIcons-dark:hover {
    size: 30px;
    transition: color .2s ease-in-out;
    border-bottom: 1.5px solid #E2E8F0;
}

#hamburgerMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.hamburgerMenu {
    background-color: rgba(0,0,0, 0.9);
}

.hamburgerMenu-dark {
    background-color: rgba(255, 255, 255, 0.9);
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* .linkedin:hover{
    color: #0072B1;
}

.resume:hover{
    color: rgb(8, 138, 8);
} */

.icon:hover, .close:hover{
    color: whitesmoke;
    font-weight: bolder;
}

.icon-dark:hover, .close-dark:hover{
    color: black;
    font-weight: bolder;
}

.hamburgerMenu a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.hamburgerMenu-dark a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #636363;
    display: block;
    transition: 0.3s;
}

.hamburgerMenu .close, .hamburgerMenu-dark .close-dark {
    position: absolute;
    font-size: 60px;
    padding: 5px;
    top: 2%;
    right: 10%;
}

.links {
    text-decoration: none;
    color: rgb(9, 64, 136);

}

.links:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.about-content-dark .links {
    text-decoration: none;
    color: rgb(156, 190, 235);
}

.about-content-dark .links:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.content {
    display: flex;
    padding: 6%;
    /* margin: auto; */
    justify-content: space-between;
}

.content .about-img {
    width: 40%;
    height: 100%;
}

.content .about-content {
    /* font-family: 'Rubik', sans-serif; */
    font-family: Lato, Helvetica, Arial, sans-serif;
    max-width: 52%;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
    min-width: 50%;
    /* font-weight: 600; */
    /* font-size: 1.3rem; */
    color: black;
    text-align: justify;
}

.content .about-content-dark {
    /* font-family: 'Rubik', sans-serif; */
    font-family: Lato, Helvetica, Arial, sans-serif;
    max-width: 52%;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
    min-width: 50%;
    color: rgb(194, 201, 211);
    text-align: justify;
}

.footer {
    position: absolute;
    padding: 15px;
    left: 0px;
    right: 0px;
    text-align: center;
    line-height: 1.6;
}

.heart {
    color: rgba(67, 36, 206, 0.829);
}

.heart-dark {
    color: rgb(102, 172, 238);
}

@media screen and (max-width: 760px) {
    .headerIcons-div a {
        display: none;
    }

    .headerIcons-div a.hamburger {
        float: right;
        color: black;
        padding: 5px;
        position: absolute;
        top: 6%;
        right: 5%;
        display: block;
    }

    .headerIcons-div a.hamburger-dark {
        float: right;
        color: #E2E8F0;
        padding: 5px;
        position: absolute;
        top: 6%;
        right: 5%;
        display: block;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content .about-img {
        width: 65%;
        margin: 1.5em;
    }

    .content .about-content, .content .about-content-dark {
        max-width: 80%;
    }
}

@media screen and (max-width: 760px) {
    .headerIcons-div.responsive {
        position: relative;
        padding-right: 30px;
        margin: 20px;
    }

    .headerIcons-div.responsive .hamburger {
        position: relative;
        right: 0;
        top: 0;
    }

    .headerIcons-div.responsive .socialIcons {
        float: none;
        display: block;
        text-align: left;
    }

}