@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab");
@import url("http://fonts.googleapis.com/css?family=Lato:300,350,400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,300");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Josefin+Slab:wght@500&display=swap');

body {
    font-family: "Josefin Slab", Georgia, sans-serif;
    margin: 0;
    /* background: #465c8b; */
    background: whitesmoke;
    /* background-image: linear-gradient(to bottom right, rgb(181, 37, 224), rgb(236, 210, 59)); */
}

.header {
    padding: 25px 25px 0px 20px;
    height: 10%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-div a{
    font-family: "Josefin Slab", Georgia, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    vertical-align: middle;
}

.header .headerIcons-div {
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    min-width: 150px;
    font-size: 20px;
}

#headerIcons {
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    min-width: 250px;
    font-size: 20px;
}

.header .pageLinks {
    padding: 7px 6px 4px 6px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header .pageLinks:hover {
    background: black;
    color: white;
    transition: background .2s ease-in-out;
}

.headerIcons-div .hamburger {
    display: none;
}

.headerIcons-div .hamburger:hover {
    color: white;
    background: black;
    border-radius: 3px;
    padding: 5px;
}

.headerIcons-div .socialIcons {
    position: "relative";
    color: black;
    size: "20px !important";
    margin-right: "4px";
}

.headerIcons-div .socialIcons:hover {
    color: green;
    transition: color .2s ease-in-out;
    border-bottom: none;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .intro-div {
    flex-grow: 2;
    padding: 10% 0 0 3%;
    /* margin: 0 1rem 0 0; */
    line-height: 1.6;
    max-width: 50%;
    min-width: 50%;
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
    text-align: center;
}

.content .buttons {
    margin-top: -10px;
}
.content .pageLinks {
    padding: 7px 6px 4px 6px;
    border-radius: 3px;
    color: black;
    border-style: solid;
    font-weight: bold;
    text-decoration: none;
}

.content .pageLinks:hover {
    background: black;
    border-style: solid;
    border-color: black;
    color: white;
    transition: background .2s ease-in-out;
}

.comic {
    width: 100%;
}

.hamburgerMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.linkedin:hover{
    color: #0072B1;
}

.resume:hover{
    color: rgb(8, 138, 8);
}

.github:hover, .close:hover{
    color: whitesmoke;
}

.hamburgerMenu a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.hamburgerMenu .close {
    position: absolute;
    font-size: 60px;
    padding: 5px;
    top: 2%;
    right: 10%;
}

@media screen and (max-width: 760px) {
    .headerIcons-div a {
        display: none;
    }

    .headerIcons-div a.hamburger {
        float: right;
        color: black;
        padding: 5px;
        position: absolute;
        top: 6%;
        right: 5%;
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content .intro-div {
        min-width: 80%;
        padding-bottom: 0.5rem;
        align-self: center;
    }

}

@media screen and (max-width: 760px) {
    .headerIcons-div.responsive {
        position: relative;
        padding-right: 30px;
        margin: 20px;
    }

    .headerIcons-div.responsive .hamburger {
        position: relative;
        right: 0;
        top: 0;
    }

    .headerIcons-div.responsive .socialIcons {
        float: none;
        display: block;
        text-align: left;
    }

}